<form>
    <input id="updatename" value="{{name}}"/>
    <textarea id="updatedesc">{{description}}</textarea>
    <input id="updateid" type="hidden" value="{{id}}"/>
    <button id="updatepost">UPDATE</button>
</form>

<script src="/js/editblogpost.js"></script>

{{!-- create file(comments(belongs to user body, id)) --}}